*{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  html{
    font-size: 62.5%;
}
/*
.main-div-container-menu{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    justify-items: end;

}

.header-menu-menu{
    justify-items: end;
    width: 40px;
    margin-top: 10px;
}
  */
  header{
    background-color: #262626 !important;
    margin-top: -10px;
}

.nav-menu li{
    list-style: none;
}
.nav-menu a{
        text-decoration: none;
        color: white;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



/* <!-- inicia test translater --> */



.flags{
    display: flex;
text-align: center;
}

.usa-flag{
    width: 40px;
    padding: 5px;
}
.spain-flag{
    width: 40px;
    padding: 5px;

}
.flag-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    margin: 2px;
    overflow: hidden;
}




/* <!-- finaliza test translater --> */




.main-div-container{
  display: grid;  
  justify-items: center;
}
.main-div-container img{
    align-items: center;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
    margin-top: 30px;
}
.main-div-container h1{
    margin-top: 18px;
    font-size: 25px;
}
#Web-Developer-title{
    font-size: 20px;
    margin-top: 2px;
    color: #0098c5;
}
.container-div-icons {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.container-div-icons a{
    margin-left: 10px;
}
#about-me{
    margin: 40px 20px;
}





.curriculum{
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #E45F5F;
    text-align: center;
}

/* main */
main{
    margin: 0 20px;

}
.main-container-sections{
    display: grid;  
    justify-items: center;
  }

.h2-subtitle{
    font-size: 30px;
    margin-top: 30px;
    color: #333338;
    margin-bottom: 20px;

}
.main-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    height: 200px;
}

/* Skill Level */

.main-skills-container-levels{
    display: grid;
    justify-items: center;
}
#level-skill-html{
    height: 10px;
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 40px;
    background: linear-gradient(to right, #41e415  75%, white 25%);
}

#level-skill-css{
    height: 10px;
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 40px;
    background: linear-gradient(to right, #41e415  60%, white 40%);
}
#level-skill-js{
    height: 10px;
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 40px;
    background: linear-gradient(to right, #41e415  40%, white 20%);
}
#level-skill-github{
    height: 10px;
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 40px;
    background: linear-gradient(to right, #41e415  80%, white 20%);
}
#level-skill-wordpress{
    height: 10px;
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 40px;
    background: linear-gradient(to right, #41e415  80%, white 20%);
}
#level-skill-il{
    height: 10px;
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 40px;
    background: linear-gradient(to right, #41e415  40%, white 20%);
}
















.main-items img{
width: 60px;
margin: 10px 10px;
}

.main-post{
    margin-bottom: 50px;
    display: grid;
    text-align: center;
}
.main-post a{
margin: 60px 0px;
}
.post-img{
    height: 160px;
    border-radius: 10px;
}
.main-post a h3{
    font-size: 20px;
    color: #E45F5F;

}
.main-post a p{
    margin-top: 10px;
    color: #333338;
    font-weight: bold;

}

#post-mrbrillante {box-shadow:  #0097c593 0px 30px 130px -30px;}
#post-josebajana{box-shadow: #fdff00 0px 50px 130px -20px}
#post-lazyMemory {box-shadow: #ff41c0  0px 30px 130px -30px;}
#post-usbio {box-shadow:  #0097c593 0px 30px 130px -30px;}

.footer-container-sections{
    display: grid;  
    justify-items: center;
    margin-bottom: 50px;
  }



  @media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626b0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    margin-top: -10px;
    padding: 20px;

    }
  }




  
